body {
  font-family: 'Montserrat', Courier, monospace;
  background-color: #f5f6fa;
}

nav,
#menu,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 100px;
}

li {
  list-style-type: none;
  padding-left: 20px;
}

#bookCard {
  padding: 15px 30px 15px 30px;
  margin: 25px 30px 25px 30px;
  background-color: white;
}

#title {
  font-size: 25px;
  font-weight: bold;
}

#addBook {
  padding: 15px 30px 15px 30px;
  margin: 25px 30px 25px 30px;
}

#addBook .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

input,
#addBook button {
  height: 40px;
  padding-left: 20px;
}
